@font-face {
  font-family: 'Comic Sans MS';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=WWXUljiDYgyJJ8igRvwjKZhbRww&skey=a4ba60ff9fc73cf8&v=v20) format('truetype');
}
@font-face {
  font-family: 'Comic Sans MS';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=WWXJljiDYgyJJ8igRvwjKZhbf7DK6MQ&skey=47b9a7080319bd8b&v=v20) format('truetype');
}
