@font-face {
  font-family: 'Impact';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=HhyVU5gq9PCuP11PKw&skey=5128cd07406988e&v=v20) format('truetype');
}
