/* fonts.css */

@font-face {
    font-family: "Impact";
    src: url("/fonts/impact.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    /* avoids FOIT (Flash of Invisible Text) */
}